---
import '../styles/youtube.css';

//IMAGE IMPORTS
import huntererPersona from '../assets/YouTube/PNG/Hunter User Persona.png';
import gathererPersona from '../assets/YouTube/PNG/Gatherer User Persona.png';
import preBrowsingFormGIF from '../assets/YouTube/GIF/PreBrowsing Form.gif';

//video imports
import preBrowsingFormVID from '../assets/YouTube/Video/PrebrowsingForm.mp4?url';
import browsingBlendVID from '../assets/YouTube/Video//BrowsingBlendv2.mp4?url';
import dashboardVID from '../assets/YouTube/Video/ShortsDashboard.mp4?url';
---

<div class="hero-image"> 
    <!-- <img style="text-align: center;" class="testingMsImages" src={preBrowsingFormGIF.src} width={preBrowsingFormGIF.width} height={preBrowsingFormGIF.height} /> -->
    <video id="theVideo" class="testingMSVideos" autoplay loop muted="true" playsinline ><source src={preBrowsingFormVID} type="video/mp4" /></video>

</div>
<div class="casestudy-contentpadding">
    <div class="casestudy-hero">
        <h2>YouTube Shorts</h2>
        <h4 style="color: #B8B8B8;">Defining the exploration and search journey within YouTube Shorts</h4>
        <div class="casestudy-chiprow">
            <div id="dateChip" class="casestudy-chip">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" fill="none">
                    <path d="M12.6667 12.668H3.33333V5.33464H12.6667M10.6667 0.667969V2.0013H5.33333V0.667969H4V2.0013H3.33333C2.59333 2.0013 2 2.59464 2 3.33464V12.668C2 13.0216 2.14048 13.3607 2.39052 13.6108C2.64057 13.8608 2.97971 14.0013 3.33333 14.0013H12.6667C13.0203 14.0013 13.3594 13.8608 13.6095 13.6108C13.8595 13.3607 14 13.0216 14 12.668V3.33464C14 2.98101 13.8595 2.64187 13.6095 2.39183C13.3594 2.14178 13.0203 2.0013 12.6667 2.0013H12V0.667969M11.3333 8.0013H8V11.3346H11.3333V8.0013Z" fill="#515155"/>
                </svg>
                <p class="chipText">Feb - May 2023</p>
            </div>
            <div class="casestudy-chip">
                <p class="chipText">UX Design</p>
            </div>
            <div class="casestudy-chip">
                <p class="chipText">UX Research</p>
            </div>
            <div class="casestudy-chip">
                <p class="chipText">1 Design Mentor</p>
            </div>
            <div class="casestudy-chip">
                <p class="chipText">4 Design</p>
            </div>
        </div>
        <h4>Overview</h4>
        <p>At the request of an Interaction Designer at Google, our team at Berkeley Innovation was challenged to analyze and reimagine the search experience for YouTube Shorts.
            <br /><br />
            I was the Design Mentor on this project. I oversaw the scoping of the project and reaffirmed design decisions while delivering insight and recommendations where applicable.
            <br /><br />
            Although I did have the opportunity to lend my hand in research, ideation, and design, my consultants handled a majority of the designs related to the project. Therefore, this is intended to be a highlight of our output and work.</p>
    </div>
    <div id="flex24px" class="casestudy-container64">
        <div class="sectionTextContainer">
            <p class="sectionText">01// Final Recommendations</p>
        </div>
        <div class="eightpxFlex">
            <h4>Pre-Browsing Form</h4>
            <p>Although Shorts is built on the back of YouTube's algorithm, we found that allowing users to explicitly select topics related to their interests while onboarding can generate a more personalized experience.</p>
        </div>
        <div class="imagecontainer">
            <video id="theVideo" class="testingMSVideos" autoplay loop muted="true" playsinline ><source src={preBrowsingFormVID} type="video/mp4" /></video>
        </div>
    </div>
    <div id="flex24px" class="casestudy-container48">
        <div class="eightpxFlex">
            <h4>Dedicated Dashboard</h4>
            <p>An intermediary page for navigating YouTube Shorts creates a distinct transition from long-form content to Shorts. Users are presented with content based on their interests, their browsing blends, and </p>
        </div>
        <div class="imagecontainer">
            <video id="theVideo" class="testingMSVideos" autoplay loop muted="true" playsinline ><source src={dashboardVID} type="video/mp4" /></video>
            <!-- <img class="testingMsImages" src={onboardingGIF.src} width={onboardingGIF.width} height={onboardingGIF.height}/> -->
        </div>
    <div id="flex24px" class="casestudy-container48">
        <div class="eightpxFlex">
            <h4>Browsing Blend</h4>
            <p>Playlists between friends that are regularly updated based on a combination of their interests. Users are motivated to discover new content and creators that their friends are interested in.</p>
        </div>
        <div class="imagecontainer">
            <video id="theVideo" class="testingMSVideos" autoplay loop muted="true" playsinline ><source src={browsingBlendVID} type="video/mp4" /></video>
            <!-- <img class="testingMsImages" src={onboardingGIF.src} width={onboardingGIF.width} height={onboardingGIF.height}/> -->
        </div>

    <div class="casestudy-container64">
        <div class="sectionTextContainer">
            <p class="sectionText">03// Reflection</p>
        </div>
    </div>
    <div id="flex24px" class="casestudy-container">
        <p>In order to develop a holistic understanding of users’ browsing experiences, we categorized our research goals into the following 3 primary centers of focus.</p>
        <h4>Our Goals</h4>
        <div class="threeColumn">
            <div class="columnedTextContainer">
                <b>1/ Understanding YouTube Shorts</b>
                <p class="graySubText">Understand user preferences and engagement on Shorts: identify deterrent features and gauge interest in browsing expressed and new topics.</p>
            </div>
            <div class="columnedTextContainer">
                <b>2/ Analyze Competitor Platform</b>
                <p class="graySubText">Explore user motivations on competitor platforms and compare content exploration experiences between Shorts and competitors.</p>
            </div>
            <div class="columnedTextContainer">
                <b>3/ Understanding Browser Behavior</b>
                <p class="graySubText">Identify browsing obstacles that deter users from prolonged engagement on YouTube Shorts.</p>
            </div>
        </div>
    </div>
    <div id="flex24px" class="casestudy-container">
        <h4>The Approach</h4>
        <div class="threeColumn">
            <div class="columnedTextContainer">
                <b>1/ Competitive Analysis</b>
                <p class="graySubText">Our team dove into 4 popular short-form content platforms to better understand the current space.</p>
            </div>
            <div class="columnedTextContainer">
                <b>2/ User Interview & Contextual Inquiry</b>
                <p class="graySubText">We conducted interviews with 13 people to retrieve deeper insights into current incentives and browsing behaviors.</p>
            </div>
            <div class="columnedTextContainer">
                <b>3/ Screener Survey</b>
                <p class="graySubText">We sent out a survey (81 responses) to gauge general impressions and insightful responses.</p>
            </div>
        </div>
    </div>
    <div id="flex24px" class="casestudy-container48">
        <div class="eightpxFlex">
            <h4>User Personas</h4>
        </div>
        <div class="twoImageHolder"> <!--This might be too small in this view. might have to do stacked -->
            <img style="border-radius: 8px;" src={huntererPersona.src} width={huntererPersona.width} height={huntererPersona.height} />
            <img style="border-radius: 8px;" src={gathererPersona.src} width={gathererPersona.width} height={gathererPersona.height} />
        </div>
    </div>

    <div class="casestudy-container64">
        <div class="sectionTextContainer">
            <p class="sectionText">02// Research Summary</p>
        </div>
    </div>
    <div id="flex24px" class="casestudy-container">
        <p>In order to develop a holistic understanding of users’ browsing experiences, we categorized our research goals into the following 3 primary centers of focus.</p>
        <h4>Our Goals</h4>
        <div class="threeColumn">
            <div class="columnedTextContainer">
                <b>1/ Understanding YouTube Shorts</b>
                <p class="graySubText">Understand user preferences and engagement on Shorts: identify deterrent features and gauge interest in browsing expressed and new topics.</p>
            </div>
            <div class="columnedTextContainer">
                <b>2/ Analyze Competitor Platform</b>
                <p class="graySubText">Explore user motivations on competitor platforms and compare content exploration experiences between Shorts and competitors.</p>
            </div>
            <div class="columnedTextContainer">
                <b>3/ Understanding Browser Behavior</b>
                <p class="graySubText">Identify browsing obstacles that deter users from prolonged engagement on YouTube Shorts.</p>
            </div>
        </div>
    </div>
    <div id="flex24px" class="casestudy-container">
        <h4>The Approach</h4>
        <div class="threeColumn">
            <div class="columnedTextContainer">
                <b>1/ Competitive Analysis</b>
                <p class="graySubText">Our team dove into 4 popular short-form content platforms to better understand the current space.</p>
            </div>
            <div class="columnedTextContainer">
                <b>2/ User Interview & Contextual Inquiry</b>
                <p class="graySubText">We conducted interviews with 13 people to retrieve deeper insights into current incentives and browsing behaviors.</p>
            </div>
            <div class="columnedTextContainer">
                <b>3/ Screener Survey</b>
                <p class="graySubText">We sent out a survey (81 responses) to gauge general impressions and insightful responses.</p>
            </div>
        </div>
    </div>
    <div id="flex24px" class="casestudy-container48">
        <div class="eightpxFlex">
            <h4>User Personas</h4>
        </div>
        <div class="twoImageHolder"> <!--This might be too small in this view. might have to do stacked -->
            <img style="border-radius: 8px;" src={huntererPersona.src} width={huntererPersona.width} height={huntererPersona.height} />
            <img style="border-radius: 8px;" src={gathererPersona.src} width={gathererPersona.width} height={gathererPersona.height} />
        </div>
    </div>
</div>

<script>
    // <!-- <script is:inline> -->
        //this script makes all the videos play on load
        // const allVideos = document.querySelectorAll('.fullSizeVideo')
        // allVideos.forEach(item => {
        //     item.play();
        // })
        // allVideos.forEach(item =>{
        //     item.addEventListener('astro-page-load', () =>{
        //         item.load();
        //         item.play();
        //     });
        // });
        document.addEventListener('astro:page-load', () =>{
            const allVideos = document.querySelectorAll('.testingMSVideos');
            allVideos.forEach(item =>{
                if (item instanceof HTMLVideoElement){
                item.load();
                item.play();
                }
            })
        })
    </script>